{% extends "product/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
    <div class="container my-4">

    {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ createproduct_form|crispy }}
            <button class="submit-button btn btn-primary btn-block" type="submit">Create</button>
        </form>
    </div>
</body>
</html>
{% endblock content %}