{% extends "blog/base.html" %}
{% block content %}
    <div class="row">
    <!-- filter -->
        <div class="col-lg-3 mx-auto my-4">
            <div class="list-group">
                <h3 href="{% url 'blog_list' %}" class="list-group-item list-group-item-action">All Blogs Category</h3>
                {% for cat in categories %}
                    <a href="{% url 'blog_by_category' cat.id %}"
                       class="list-group-item list-group-item-action">{{ cat.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="card my-4 centered">
            <h2>
                <center>{{ message }}</center>
            </h2>
            <article class="media content-section col-lg-10">
                <img class="rounded circle article-img" src="{{ blog.image }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ blog.user }}</a>
                    </div>
                    <h2><a class="article-title" href="#">{{ blog.title }}</a></h2>
                    <p class="article-content">{{ blog.content }}</p>
                    {% for category in blog.blog_categories.all %}
                        <p class="article-categories">{{ category.name }}</p>
                    {% endfor %}
                    <a href="{% url 'update_blog' blog.id %}"
                       class="list-group-item list-group-item-action list-group-item-primary">Update</a>
                    <a href="{% url 'delete_blog' blog.id %}"
                       class="list-group-item list-group-item-action list-group-item-danger">Delete</a>

                    <a href="{% url 'blog_detail' blog.id %}"
                       class="list-group-item list-group-item-action list-group-item-dark">Detail</a>
                </div>
            </article>
        </div>
    </div>

    <div class="aligned">
        <div class="row mx-auto ">
                {% for obj in saved_post %}

                        <div class="card mx-auto mb-3" id="" style="width: 18rem;">
                            <div class="card-body">
                                {#                <h2><a class="card-title" href="{% url 'saved_post_list_by_name' obj.id %}">{{ obj.name }}</a></h2>#}
                                {#                    {{ new_blog }}#}
                                {#                    {{ save_post }}#}
                                {% if request.user.is_authenticated %}
                                    <h4><a class="card-title"
                                           href="{% url 'add_to_save_post' blog.id obj.id %}">Saved-post {{ obj.name }}</a></h4>
                                {% endif %}
                            </div>
                        </div>

                {% endfor %}
                <div class = "card-body">
                    <a class="card-title" href="{% url 'create_save_post' blog.id %}">Add List</a>
                </div>
        </div>
    </div>



{% endblock content %}

{#                        {% for object in obj.blog.all %}#}
{#                            {{ object.title }}#}
{#                        {% endfor %}#}